#landing {
  /* border: springgreen 2px solid; */
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 27% 73%;
  grid-template-rows: 100%;
}

/* #landing .landing-main {
  background-color: rgb(35, 213, 245);
} */
